<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="C:\ProgramData\AppLogPollerService\internal-nlog.txt">

  <targets>
    <!--
      Docelowy plik płaski z logami. Nazwa pliku zawiera SourceName (nazwę źródła ustawianą
      przez LogSourceRunner), dzięki czemu każde skonfigurowane źródło (patrz Poller:Sources)
      automatycznie trafia do OSOBNEGO pliku, mimo że wszystkie piszą przez ten sam target.
    -->
    <target xsi:type="File" name="appLogFile"
            fileName="C:\Logs\AppLogPollerService\applog_${event-properties:item=SourceName:whenEmpty=default}_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION: ${event-properties:item=Exception}}"
            archiveFileName="C:\Logs\AppLogPollerService\archives\applog_${event-properties:item=SourceName:whenEmpty=default}_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Log diagnostyczny samej usługi (start/stop/błędy odpytywania) -->
    <target xsi:type="File" name="serviceFile"
            fileName="C:\Logs\AppLogPollerService\service_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- Logger "AppLogFile" (wywoływany jawnie z LogPollerWorker) -> tylko do pliku z logami aplikacji -->
    <logger name="AppLogFile" minlevel="Trace" writeTo="appLogFile" final="true" />

    <!-- Pozostałe logi (diagnostyka samej usługi, przez Microsoft.Extensions.Logging) -> do pliku serwisowego -->
    <logger name="*" minlevel="Debug" writeTo="serviceFile" />
  </rules>
</nlog>
